<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/css/index.css">
	<link rel="stylesheet" href="static/css/styles.css">
	<title>Заявка на ремонт</title>
</head>

<body>
	<div class="main-form">

		<div class="header">
			<h2>Заявка на ремонт</h2>
		</div>

		<div class="center">
			<form method="post" action="/support" id="form">
				<label for="client_name" class="input">
					<input type="text" id="client_name" name="client_name" placeholder="&nbsp;">
					<span class="label">Ф.И.О. *</span>
					<span class="focus-bg"></span>
				</label>
				<br>
				<label for="client_phone" class="input">
					<input type="text" id="client_phone" name="client_phone" placeholder="&nbsp;">
					<span class="label">Мобильный телефон</span>
					<span class="focus-bg"></span>
				</label>
				<br>
				<select name="urgency" id="urgency" class="select">
					{{#each urgency}}
					{{#with this}}
					<option value="{{_id}}">{{_field}}</option>
					{{/with}}
					{{/each}}
				</select>
				<span class="label">Срочность *</span>
				<br>
				<select name="cabinet" id="cabinet" class="select">
					{{#each cabinets}}
					{{#with this}}
					<option value="{{_id}}">{{_field}}</option>
					{{/with}}
					{{/each}}
				</select>
				<span class="label">Кабинет *</span>
				<br>
				<label for="defects" class="input">
					<input type="text" id="defects" name="defects" placeholder="&nbsp;">
					<span class="label">Неисправности</span>
					<span class="focus-bg"></span>
				</label>
				<br>
				<label for="defect_description" class="input">
					<textarea rows="5" cols="60" id="defect_description" name="defect_description" placeholder="&nbsp;"
						multiple="multiple"></textarea>
					<span class="label">Описание неисправности</span>
					<span class="focus-bg"></span>
				</label>
			</form>
		</div>

		<div class="footer">
			<input type="submit" id="submit_form" form="form" value="Отправить">
		</div>

	</div>
</body>

</html>