<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Завка на ремонт - Регистрация</title>
</head>

<body>
	<form method="post" action="/support/admin/register" id="form">
		<label for="login" class="input">
			<input type="text" id="login" name="login" placeholder="&nbsp;">
			<span class="label">Логин</span>
			<span class="focus-bg"></span>
		</label>
		<br>
		<label for="password" class="input">
			<input type="password" id="password" name="password" placeholder="&nbsp;">
			<span class="label">Пароль</span>
			<span class="focus-bg"></span>
		</label>
		<br>
		<label for="secret_key" class="input">
			<input type="password" id="secret_key" name="secret_key" placeholder="&nbsp;">
			<span class="label">Секретный ключ</span>
			<span class="focus-bg"></span>
		</label>
	</form>
	<div class="footer">
		<input type="submit" id="submit_form" name="submit_form" form="form" value="Отправить">
	</div>
</body>

</html>